[*] # áp dụng cho tất cả các file trong project
indent_style = space # Quy định khi thụt đầu dòng (indent) thì sử dụng dấu cách (Space) thay vì Tab
indent_size = 2 # Quy định mỗi một cấp indent = 2 khoảng trắng.